@model List<ResultProductDto>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="midde_cont">
	<div class="container-fluid">
		<div class="row column_title">
			<div class="col-md-12">
				<div class="page_title">
					<h2>Ürün İşlemleri</h2>
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row">
			<!-- table section -->
			<div class="col-md-12">
				<div class="white_shd full margin_bottom_30">
					<div class="full graph_head">
						<div class="heading1 margin_0">
							<h2>Ürün Listesi</h2>
						</div>
					</div>
					<div class="table_section padding_infor_info">
						<div class="table-responsive-sm">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Ürün Adı</th>
										<th>Fiyat</th>
										<th>Kategori</th>
										<th>Durum</th>
										<th>Sil</th>
										<th>Güncelle</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>@item.ProductID</td>
											<td>@item.ProductName</td>
											<td>@item.Price</td>
											<td>@item.CategoryName</td>
											<td>@item.ProductStatus</td>
											<td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-outline-danger">Sil</a></td>
											<td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-outline-success">Güncelle</a></td>
										</tr>
									}

								</tbody>
							</table>
							<a href="/Product/CreateProduct/" class="btn btn-outline-primary">Yeni Ürün Ekle</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>



